{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customers list</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>BirthDate</th>
            <th>Young Driver</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.birthDate|date('F j,Y, g:i a') }}</td>
                <td>{{ customer.isYoungDriver }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
